<ion-content class="static">
  <div class="main-container flexColCentered">
    <div class="note">
      <h6>This feature has not been implemented yet!</h6>
    </div>
    <!--  <div class="main-content-login">
      <h1>Login</h1>
      <form>
        <input type="text" placeholder="MY NAME" readonly>
        <input type="text" placeholder="MY PASSWORD" readonly>
      </form>
      <div class="sign-up">
        <h2>Or sign up!</h2>
      </div>
    </div> -->
    <div class="bottom-container">
      <ion-button (click)="goBack()">back</ion-button>
    </div>
  </div>
</ion-content>