@import "src/theme/variables.scss";

.elements-container {
    display: flex;
    flex-direction: column;

    .titles-container {
        width: 75%;
        /* height: 50vh; */
        margin: 3rem auto;

        .candyTitle {
            margin-top: 20%;
        }

        // 'chase' title
        p {
            margin-top: 0px;
            font-family: $flyingleather;
            font-size: $xl-fontSize;
            color: $main-orange;
            // text-shadow: 0 5px 10px #000000;
            opacity: 0.8;
            // slight font transformation
            transform: scale(1, 1.2);
            -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
            -moz-transform: scale(1, 1.2); /* Firefox */
            -ms-transform: scale(1, 1.2); /* IE 9+ */
            -o-transform: scale(1, 1.2); /* Opera */
        }
    }
    .startButton {
        width: 80%;
        margin: auto;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        p {
            padding: 5%;
            margin: 0;
        }
    }
    // exception landscape mobile
    @media (min-width: 568px) and (max-width: 767px) {

        .titles-container {
            width: 50%;
            margin: 1rem auto;
            p {
                font-size: $l-fontSize;
            }
        }
        .startButton {
            width: 55%;
        }
    }
}

