@import "src/theme/variables.scss";

.selectAge {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    p {
        color: $main-orange;
        font-size: $s-fontSize;
        font-family: $titanOne;
    }
    .btn-container {
        width: 80%;
        text-align: center;
        button {
            width: 80%;
            height: 50px;
            margin-top: 3%;
            font-size: 2.5rem;
            &:hover,
            :active {
                color: $main-blue;
                border: 3px solid $main-blue;
            }
        }
    }
}
.scroll-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
