@import "src/theme/variables.scss";
// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.static {

    .main {
        .logo-container {
            width: 40%;
            margin: auto;
            text-align: center;
            img {
                height: 5rem;    
            }
        }
        .text-container {
            text-align: center;
            h1 {
                width: 80%;
                margin: auto;
                padding: 2%;
                font-size: 1.3rem;
                color: $sub-orange;
                border-bottom: 3px solid $sub-orange;
                span {
                    font-family: $titanOne;
                    color: $main-blue;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .bottom-container {
        
        width: 100%;
        margin: 12% auto;

        p {
            color: $sub-orange;
            font-size: 0.7rem;
            font-family: $titanOne;
        }
    }
}
