<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="static circlesImgBg flexColCentered">
  <div class="main">
    <div class="logo-container">
      <img src="{{logoImg}}" alt="app logo" />
    </div>
    <div class="text-container">
      <h4>is</h4>
      <h1>Powered by <br><span>open food facts</span> <br>under open api licence</h1>
      <h1>Vectors<br><span>vecteezy.com<br>& homemade!</span></h1>
    </div>
    <div class="text-container">
      <h1>Contact<br><span>candychase.2020@gmail.com</span></h1>
    </div>
  </div>
  <div class="bottom-container">
    <ion-button (click)="goBack()">back</ion-button>
    <p>©CandyChase2020</p>
  </div>
</ion-content>