<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="['/home', { isPlaying : 'true' }]" routerDirection="root">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="candyList">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>CandyList</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="backpack">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Backpack</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-stats">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
