<ion-header>
  <ion-toolbar color="customColor">
    <!--  <ion-title text-center class="toolbarTitle">Trick or treat</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="special-bg">

  <div class="main-container">

    <div class="upper-row">
      <h1>You Chose<br><span>trick !</span></h1>
    </div>
  
    <div class="main-row">
      <h1>Your challenge:</h1>
      <p>
        Next house you will visit,
        tell the hosts a horror story involving a <span>werewolf</span> !
      </p>
    </div>
  
    <div class="bottom-row">
      <img src="{{ candleSkullImg }}" alt="candle-skull" />
    </div>

  </div>

</ion-content>