@import "src/theme/variables.scss";

// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.special-bg {
    background-image: url("src/assets/graphicMat/spiders_bg-half.png");
    background-size: cover;
    background-position: center;

    .main-container {
        width: 90%;
        height: 80%;
        margin: auto;
        padding-top: 10%;

        .upper-row,
        .bottom-row {
            padding: 3% 0%;
            h1 {
                color: $sub-light;
                font-size: 1.5rem;
                line-height: 0.8;
                span {
                    font-size: 2.5rem;
                    color: $sub-pink;
                }
            }
            button {
                padding: 3%;
                margin: 2% 5%;
            }
            button:first-child {
                font-size:1.3rem;
            }
            button:nth-child(2) {
                color: $main-orange;
                
            }
            img {
                width: 5rem;
                float: right;
            }
        }
        .main-row {
            h1 {
                font-size: 1.2rem;
                color: $sub-red;
            }
            .description-container {
                width: 80%;
                border: 5px dotted $sub-red;
                background-color: darken($lightpurple-bg, 20%);
                border-radius: 15px;

                p {
                    padding: 5%;
                    font-size: 1.6rem;
                }
                p:first-child {
                    color: $sub-light;
                }
                p:nth-child(2){
                    color: $main-orange;
                }
            }
        }
    }
}
