@import "src/theme/variables.scss";

// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.special-bg {
    background-image: url("src/assets/graphicMat/spiders_bg-half.png");
    background-size: cover;
    background-position: center;

    .main-container {
        width: 90%;
        height: 80%;
        margin: auto;
        padding-top: 10%;

        .upper-row,
        .bottom-row {
            padding: 8% 0%;
            h1 {
                color: $sub-light;
                font-size: 1.5rem;
                line-height: 0.8;
                span {
                    font-size: 2.5rem;
                    color: $sub-pink;
                }
            }
            img {
                width: 5rem;
                float: right;
            }
        }
        .main-row {
            h1 {
                font-size: 1.2rem;
                color: $sub-purple;
            }
            .description-container {
                width: 80%;
                border: 5px solid $main-purple;
                border-radius: 15px;

                p {
                    padding: 10%;
                    font-size: 1.5rem;
                    color: $sub-light;
                }
            }
        }
    }
}
