@import "src/theme/variables.scss";

// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.candyPageContainer {

    .add-label {
        width: 100%;
        height: 20vh;
        background-image: url("src/assets/graphicMat/sparkles.png");
        background-size: cover;
        background-position: center;
        background-color: black;
        img {
            max-width: 100px;
            float: right;
        }
    }
    .candyList {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding-top: 30%;

        .candyItem {
            height: 7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            border-bottom: 3px solid $main-blue;

            .candyName {
                max-width: 70%;
                display: flex;
                flex-direction: column;
                h1,
                h2 {
                    font-family:$titanOne;
                    color:  $main-blue;
                    text-transform: uppercase;
                    text-align: center;
                }
                h1 {
                    font-size: 1rem;
                    transform: scale(1, 1.2);
                    -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
                    -moz-transform: scale(1, 1.2); /* Firefox */
                    -ms-transform: scale(1, 1.2); /* IE 9+ */
                    -o-transform: scale(1, 1.2); /* Opera */
                }
                h2 {
                    font-size: 0.7rem;
                }
            }
            .candyThumbnail {
                height: 4rem;
                width: 4rem;
                min-width: 4rem;
                border: 3px solid $main-red;
                background-color: $main-pink;
                align-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 50px;
            }
            .plus-btn > button {
                width: 3rem;
                height: 3rem;
                background-color: transparent;
            }
        }
    }
    .animPumpkin-container { 
        margin-top: 30vh; 
        .loading {
            color: $main-blue;
            font-size: 4rem;
            text-align: center;
        }
    }
    .newChallenge-btn {
        width: 90%;
        margin-left:50%;
        bottom: 2%;
        position: sticky;

        button {
        padding: 1.5%;
        background-color: yellow;
        border-radius: 10px;
        font-family: $titanOne;
        color: $main-orange;
        }
    }
}

/* customize toasts  => global.scss */





