@import "src/theme/variables.scss";

// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.candyPageContainer {

    /* margin-top: 0 !important; */
    .add-label {
        height: 20vh;
        background-image: url("src/assets/graphicMat/sparkles.png");
        background-size: cover;
        background-position: center;
        img {
            max-width: 100px;
            float: right;
        }
    }
    .candyList {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        /* margin: -10% 10%; */
        .candyItem {
    /*    border: 4px solid yellow;
            background-color:pink; */
            height: 7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            border-bottom: 3px solid $main-blue;

            .candyName {
                max-width: 70%;
                display: flex;
                flex-direction: column;
                h1,
                h2 {
                    font-family:$titanOne;
                    color:  $main-blue;
                    text-transform: uppercase;
                    text-align: center;
                }
                h1 {
                    font-size: 1rem;
                    transform: scale(1, 1.2);
                    -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
                    -moz-transform: scale(1, 1.2); /* Firefox */
                    -ms-transform: scale(1, 1.2); /* IE 9+ */
                    -o-transform: scale(1, 1.2); /* Opera */
                }
                h2 {
                    font-size: 0.7rem;
                }
            }
            .candyThumbnail {
                height: 4rem;
                width: 4rem;
                min-width: 4rem;
                border: 3px solid $main-red;
                background-color: $main-pink;
                align-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 50px;
            }
            .plus-btn > button {
                width: 3rem;
                height: 3rem;
                background-color: transparent;
            }
        }
    }
    
}


/* customize toast message points/total */
--ion-toast--background {
    background-color: #ff000096 !important;
}

--ion-toast.custom-toast  {
    height: 10vh !important;
    background-color: #ff000096 !important;
    color: orange !important;
    font-family: "flyingleather" !important;
    font-size: 5rem !important;
    text-align: center;
}
/* customize toast message levelUp */
.levelUp {
    z-index: 3;
    background: #ffa600b3 url("src/assets/graphicMat/levelUp.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.newCard {
    z-index: 3;
    background: rgba(255, 166, 0, 0.7) url("src/assets/graphicMat/levelUp.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
