
<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Candy to find</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="candyPageContainer">

  <div class="add-label flexRowCentered ">
    <ion-searchbar animated class="custom-searchbar"
    [formControl]="searchControl"
    (ionChange)="onSearchInput()">
    </ion-searchbar>
    <img src="assets/graphicMat/bubble_add2.png" alt="" />
  </div>


  <div *ngIf="candyList$ | async as candyList; else loading">
    <div *ngFor="let candyItem of candyList$ | async" class="candyList">
<!--   <div *ngIf="candyList; else loading">
    <div *ngFor="let candyItem of candyList" class="candyList"> -->
      <div class="candyItem">
        <div class="candyThumbnail">
          <img src="{{candyItem.image_front_url}}">
        </div>
        <div class="candyName">
          <!-- <h2>{{data.brands_tags[1]}}</h2> -->
          <h1>{{ candyItem.product_name | shortenString:30 }}</h1>
        </div>
        <div class="plus-btn">
          <!-- <button (click)="sendId(candyItem._id)"> -->
          <button (click)="addCandyToBackpack(candyItem)">
            <img src="assets/graphicMat/zoomIn.png" alt="plus-button"/>
          </button>
        </div>
      </div>
    </div>
  </div>
  
    <!-- 
      TODO:  find a workaround to make loading anim work with condition 
      <ng-template #loading>
        <app-loading-animation></app-loading-animation>
      </ng-template>  
    -->
  
  <ng-template #loading>
    <img src= "{{ anim }}"/>
    <h1 class="loading">
      loading...    
    </h1>
  </ng-template>  

  <div class="newChallenge-btn" *ngIf="newChallenge">
    <button (click)="goToChallenges()">New challenge!</button>
  </div>

</ion-content>
