// Ionic Variables and Theming


:root {

/*--ion-color-primary:  #ffa500;
  --ion-color-secondary:  #B4CDFF;
  --ion-color-tertiary: #ffc0cb; */




    $colors: (
      danger:     #f53d3d,
      light:      #f4f4f4,
      customColor: transparent
    );

  }

  $main-orange: #ffa500;
  $sub-orange :#ff9e29;;
  $light-orange: #ffeedf;
  
  $main-blue: #b1c9fb;

  $main-pink: #ffc0cb;
  $sub-pink:  #fbb1f1;

  $main-red: #ff0000;
  $sub-red: #ff000096;
  
  $level-up-bg: #ffa600b3;
  
  $main-dark: #222222;
  $main-light: #f4f4f4;


  // FONTS  -------------------------------------------------------

  $h1-fontsize: 2rem;
  $h2-fontsize: 1.5rem;
  $h3-fontsize: 1.2rem;
  
  $basic-fontSize: 1rem;
  $xxs-fontSize: 1.5rem;
  $xs-fontSize: 1.8rem;
  $s-fontSize: 2rem;
  $m-fontSize: 2.7rem;
  $l-fontSize: 3rem;
  $xl-fontSize: 5rem;
  $xxl-fontSize: 7rem;

  $font-path: "../assets/fonts";

  @font-face {
      font-family: flyingleather;
      src: url(src/assets/fonts/flyingleather.ttf) format('truetype');}
  $flyingleather: flyingleather;

  @font-face {
      font-family: TitanOne;
      src: url(src/assets/fonts/TitanOne-Regular.ttf) format('truetype');}
  $titanOne: TitanOne;


/*  $font-family-base: "flying_leatherneck";
    $font-family-md-base: $font-family-base;
    $font-family-ios-base: $font-family-base;
    $font-family-md-base: $font-family-base;
    $font-family-wp-base: $font-family-base; */
