// Ionic Variables and Theming

:root {

  --ion-color-primary:  #ffa500;
  --ion-color-secondary:  #B4CDFF;
  --ion-color-tertiary: #ffc0cb;


    $colors: (
      danger:     #f53d3d,
      light:      #f4f4f4,
      dark:       #222,
      orange:     #FF8D00,
      blue:       #B4CDFF,
      customColor: transparent
    );

    $light-color: #ffeedf;
    $main-titles: #FF8D00;
    $sub-titles :rgb(255, 162, 49);
    $blue-titles: #B4CDFF;
    $icons: rgb(255, 158, 41);



  

/*     $font-family-base: "flying_leatherneck";
    $font-family-md-base: $font-family-base;
    $font-family-ios-base: $font-family-base;
    $font-family-md-base: $font-family-base;
    $font-family-wp-base: $font-family-base; */

  }

  // FONT SIZES
  $xxs-fontSize: 1.5rem;
  $xs-fontSize: 1.8rem;
  $s-fontSize: 2rem;
  $m-fontSize: 2.7rem;
  $l-fontSize: 3rem;
  $xl-fontSize: 5rem;
  $xxl-fontSize: 7rem;