<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading" class="loading">loading...</div>
  <div *ngFor="let candyItem of candyList" class="candyList">{{ candyItem._id}} - {{ candyItem.product_name }}</div>

<!--  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
