<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">
      Your map
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="orange" (click)="addCircle()">
        <ion-icon name="md-locate"></ion-icon>
      </button>
      <button ion-button icon-only color="orange" (click)="myAddresses()">
        <ion-icon name="md-globe"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mapPage-container">

  <div class="mapContainer">
    <div id="map"></div>
  </div>

</ion-content>