<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">
      Your map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mapContainer">
    <div id="map"></div>
  </div>
  <div class="options-container">
    <!-- <button (click)="see()">pull</button> -->
    <div class="saveLocationBtnContainer">
      <button class="flexRowCentered" (click)="saveAddress()">
        <img [src]="heartIcon" alt="heartIcon" />
        Save this address to favorites !
      </button>
    </div>
  </div>


</ion-content>