
.mapContainer {
    // mobile portrait
    width: 90%;
    height: 80%;
    border: 8px solid black;
    margin: 8% auto;

    #map {
        height: 100%;
        width: 100%;
    }

    // customize zoom controls
    .leaflet-bar {
        margin-top: 50vh;
    }

    .scroll-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}


// mobile landscape
@media (min-width: 567px) and (max-width: 767px) {

    .mapContainer {
        width: 100vw;
        height: 100%;
        margin: 0;
    }
}
// tablet portrait
@media (min-width: 768px) and (max-width: 1023px) {

    .mapContainer {
        width: 100vw;
        height: 100%;
        margin: 0;
    }
}

// tablet landscape and +
@media (min-width:1024px) {

    // exception from global.scss
    ion-content {

        width: 80% !important;

        .mapContainer {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

// to avoid console warning 'will-change memory is too high..'
// .leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }
//  commented out => f's up page display :(
