.mapPage-container {
    
    .mapContainer {
        width: 80%;
        height: 80%;
        border: 5px solid black;
        margin: 10% auto;
        #map { height: 100%; width: 100%; }

        // customize zoom controls
        .leaflet-bar {
            margin-top: 50vh;
        }

        .scroll-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

// to avoid console warning 'will-change memory is too high..'
// .leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }
//  commented out => f's up page display :(