<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Candy Infos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="candyDetailsPage" *ngIf="candyItem">

    <div class="candyItemTitle flexRowCentered">
      <div class="candyThumbnail">
        <img src="{{ candyItem.image_front_url }}">
      </div>
      <div>
        <h1>{{ candyItem.product_name | shortenString:30 }}</h1>
      </div>
    </div>

    <ion-row class="candy-checklist">
      <ion-col>
        <ion-row class="checklistType">
          <div *ngIf="organic;else elseblock"><img [src]=iconTrue /></div>
          <ng-template #elseblock><img [src]=iconFalse /></ng-template>
          Organic
        </ion-row>

        <ion-row class="checklistType">
          <div *ngIf="additives;else elseblock"><img [src]=iconTrue /></div>
          <ng-template #elseblock><img [src]=iconFalse /></ng-template>
          Additives
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row class="checklistType">
          <div *ngIf="glutenFree;else elseblock"><img [src]=iconTrue /></div>
          <ng-template #elseblock><img [src]=iconFalse /></ng-template>
          Gluten free
        </ion-row>

        <ion-row class="checklistType">
          <div *ngIf="vegan;else elseblock"><img [src]=iconTrue /></div>
          <ng-template #elseblock><img [src]=iconFalse /></ng-template>
          Vegan
        </ion-row>
        <ion-row class="checklistType">
          <div *ngIf="vegetarian;else elseblock"><img [src]=iconTrue /></div>
          <ng-template #elseblock><img [src]=iconFalse /></ng-template>
          Vegetarian
        </ion-row>
      </ion-col>
    </ion-row>

    <div class="rubriks">
      <div class="rubrik">
        <div class="rubrik-title flexRowCentered" (click)="toggleIngredients()">
          <h1>Ingredients hierarchy</h1>
          <img src="assets/icon/icon_arrowDown.png" />
        </div>
        <div class="candyIngredients" *ngIf="showIngredients">
          <table>
            <tr *ngFor="let i of candyItem.ingredients_tags">
              <td>
                {{ i | removeChars | removeUnderscore }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="rubrik">
        <div class="rubrik-title flexRowCentered" (click)="toggleNutriscore()">
          <h1>Nutriscore</h1>
          <img src="assets/icon/icon_arrowDown.png" />
        </div>
        <div class="candyNutriscore" *ngIf="showNutriscore">
          <table>
            <tr *ngFor="let i of candyItem.nutriscore_data | keyvalue">
              <td>
                {{ i.key | removeUnderscore }}
              </td>
              <td>
                {{ i.value }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="rubrik">
        <div class="rubrik-title flexRowCentered" (click)="toggleAllergens()">
          <h1>Allergens</h1>
          <img src="assets/icon/icon_arrowDown.png" />
        </div>
        <div class="candyAllergens">
          <table>
            <tr *ngFor="let i of candyItem.allergens_hierarchy">
              <td>
                {{ i | removeChars }}
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="noKnownAllergen">
          <h1>No listed allergen in the database</h1>
        </div>
      </div>
    </div>

  </div>

</ion-content>