@import "src/theme/variables.scss";
// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.candyDetailsPage {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;

    .candyItemTitle {
        // position: sticky; => check why not working
        width: 100%;
        padding: 2%;
        margin: 10% auto;
        justify-content: unset;
        border: 3px solid $main-orange;
        border-radius: 50px;

        .candyThumbnail {
            height: 3rem;
            width: 3rem;
            background-color: $main-pink;
            align-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 3%;
        }
        h1 {
            font-size: 1rem;
            font-family: $titanOne;
            color: $main-blue;
            text-transform: uppercase;
        }
    }
    .candy-checklist {
        border: 5px solid $main-pink;
        border-radius: 15px;

        .checklistType {
            padding: 5%;
            font-size: 0.8rem;
            font-family: $titanOne;
            color: $main-orange;
            padding: 3% 0%;
            img {
                max-width: 25px;
                padding: 3%;
            }
        }
    }
    .rubriks {

        margin: 3% auto;
        width: 100%;
        .rubrik {
            h1 {
                font-size: .8rem;
                color: $main-orange;
                font-family: $titanOne;
            }
            .rubrik-title {
                justify-content: space-between;
                border-bottom: 3px solid $main-blue;
                
                h1 {
                    font-size: 1rem;
                    color: $main-blue;
                    text-align: center;
                    line-height: 3;
                    font-family: $titanOne;
                    text-transform: uppercase;
                    .selected {
                        font-size: 7vw;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    // to add on rubriks :  transition: all 300ms ease; 
    .candyIngredients,
    .candyNutriscore,
    .candyAllergens {
        table {
            margin: auto;
            width: 100%;
        }
        table,
        td,
        tr {
            margin-top: 5%;
            padding: 2%;
            border: 2px solid $main-blue;
            font-size: 1rem;
            color: $main-orange;
            font-family: $titanOne;
        }
    }
}

.plus-btn > button {
    width: 50px;
    height: 50px;
    background-color: transparent;
}
