.addressesPage-container {
    .map-sample {
        height: 5vh;
    }
    .address-list-container {
        height: 15vh;
        background-color: #22222b;
        color: #b2caf8;
        .address-item {
            background-color: #b2caf8;
        }
    }
}
