<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">My addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="addressesPage-container flexColCentered">

  <div class="map-sample">
    <img src="assets/graphicMat/map_sample.png" alt="map-sample" />
  </div>


  
  <div *ngIf="addressList.length > 0;else noAddressYet" class="address-list-container">
    <ul *ngFor="let address of addressList">
      <li class="address-item">
        {{  address | json }}
      </li>
    </ul>
  </div>
<!--   <div class="img-container">
    <img src="assets/graphicMat/haunted_house.png" alt="haunted-house" />
  </div> -->

  <ng-template #noAddressYet> 
    <img [src]="noAddressBubble" alt="no address bubble /">
  </ng-template>

  <ng-template #loading>loading</ng-template>

</ion-content>