@import "src/theme/variables.scss";

.addressesPage-container {

    .address-list-container {
        height: 30vh;
        color: #b2caf8;
        ul { 
            li{ 
                border: 2px solid $main-blue;
                border-radius: 20px;
                list-style-image: url('src/assets/graphicMat/mini_skull.png');
                font-size: 1rem;
                font-family: $titanOne;
                color: $light-orange;
                padding: 5%;
                margin: 2%;
            }
        }
    }
    .bubble {
        width: 8rem;
        float: right;
    }
}
