<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="static">

  <div class="main">
    <h2>
      Halloween night is finally here...
      And it's time for some serious hunting !!
    </h2>
    <ul>
      <li>
        1. Select your age to get your map
      </li>
      <li>
        2. Start your quest in your neighborhood
      </li>
      <li>
        3.Find the candy of the list and put it in your backpack:<br>
        The points will get you through LEVELS with TRICK or TREAT challenges, 
        And CARDS to get !<br>
        You can also save your favorite addresses !
      </li>
      <li>
        4. After the hunt, you can check in the candy details if the candy you found are a good fit for you<br>
        ( in case you have allergies or a special diet for example )<br>
        If this is not the case, you can trade this/these candy for some other ones with your friends!
      </li>
    </ul>

    <h2> Good luck and let the hunt begin !!!</h2>
  </div>
  <div class="bottom-container">
    <ion-button (click)="goBack()">back</ion-button>
  </div>

</ion-content>