<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="special-bg">

  <div *ngIf="displayList;else listIsEmpty" class="main-container">
    <h2>You have achieved these so far ! </h2>
    <div *ngFor="let treat of achievedTreatsList">
      <h1>{{ treat.challengeDescription }}</h1>
    </div>
    <div *ngFor="let trick of achievedTricksList">
      <h1>{{ trick.challengeDescription }}</h1>
    </div>
  </div>

  <ng-template #listIsEmpty>
    <img [src]="noChallengesYetImg" alt="noChallengesYet" class="bubble" />
  </ng-template >
</ion-content>