<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="special-bg">

  <div *ngIf="achievedTricksdisplay || achievedTreatsdisplay;else listIsEmpty" class="main-container">
    <h2>You have achieved these so far ! </h2>
    
    <div *ngFor="let treat of achievedTreatsList" class=" treat flexRowCentered">
      <img [src]=iconTrue />
      <h1><span>treat:<br></span>{{ treat.challengeDescription }}</h1>
      <h2>This got you<br><span>{{treat.bonusPoints}}</span> bonus points</h2>
    </div>

    <div *ngFor="let trick of achievedTricksList" class="trick flexRowCentered">
      <img [src]=iconTrue />
      <h1><span>trick:<br></span>{{ trick.challengeDescription }}</h1>
      <h2>This got you<br><span>{{trick.bonusPoints}}</span> bonus points</h2>
    </div>
  </div>

  <ng-template #listIsEmpty>
    <img [src]="noChallengesYetImg" alt="noChallengesYet" class="bubble" />
  </ng-template >
</ion-content>