@import "src/theme/variables.scss";

// necessary for list elements to come out right
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.special-bg {
    background-image: url("src/assets/graphicMat/spiders_bg-half.png");
    background-size: cover;
    background-position: center;

    .main-container {

        width: 90%;
        height: 80%;
        margin: auto;
        padding-top: 10%;
        h2 {
            color: $sub-light;
        }
        h1 {
            margin:2%;
            padding: 3%;
            border: 2px solid $main-blue;
            border-radius: 15px;
            font-family: $titanOne;
            color: $sub-light;
            font-size: 1rem;
            span { font-size: 3.5rem; }
        }
    }
    .bubble {

        width: 40%;
        margin: 10% auto;
        align-self: center;
    }

}