<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">My stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="stats-container">
    <!--   <div *ngFor="let stat of userStats" class="stats-container" style="background-image: '{{ currentLevel.levelImg }}'">
 -->
    <img src="{{ currentLevel.levelImg }}" />

    <div class="item-level">
      <h1>Current Level</h1>
      <h2>{{ currentLevel.levelName }}</h2>
    </div>

    <div class="item">
      <h1>Total Points</h1>
      <h2>{{ totalPoints }}</h2>
    </div>

    <div class="item">
      <h1>Total Candy</h1>
      <h2>{{ candyCount }}</h2>
    </div>

    <div class="item" (click)="goToAddresses()">
      <h1>Saved Addresses</h1>
      <h2>{{ savedAddressesCount }}</h2>
    </div>

    <div class="item" (click)="goToChallenges()">
      <h1>Challenges</h1>
      <!-- <h2>{{ challenges }}</h2> -->
    </div>
  </div>


  <div class="bottom-cards-container">

    <div class="cardsList flexRowCentered">
      <div *ngFor="let level of levels">
        <div class="card-container flexColCentered">
          <div *ngIf="level.isNext" class="bubbleNext">
            <h2>Next mission:<br>Get the <span>{{ level.levelCardName }} !</span></h2>
          </div>
          <div class="card-img-container">
            <img src="{{ level.levelCard }}" [class] ="level.isActive ? 'opacity' : 'noOpacity'"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>