<ion-content>

  <div class="main static">
    <div class="main-text">
      <h2>
        Welcome to the beta version of <span>Candy Chase!</span>
      </h2>
    </div>

    <div class="main-text">
      <h2>
        This app is meant to be used during <span>Halloween night,</span><br>
        It looks like a game, but its aim is rather to <span>provide
        information to consumers</span> on candy products they might bump into,
        and help kids learning a bit of <span>autonomy.</span>
      </h2>
    </div>

    <div>
      <h2>
        The project is still <span>under development and testing,</span><br>
        so any <span>feedback</span> is most welcome!
      </h2>
    </div>
    <div>
      <h2>
        And for more guidance you can always go to the <span (click)="goToRules()">rules page!</span>
      </h2>
    </div>
    <div>
      <img src="{{ happyHuntImg }}" alt="happyhunt-img" />
    </div>

    <div class="bottom-container">
      <button class="roundedOrangeButton" (click)="goToMenu()">Let's go !</button>
    </div>
  </div>

</ion-content>