<ion-content>

  <div class="main static">
    <div class="main-text">
      <h2>
        Welcome to the beta version of <span>CandyChase!</span>
      </h2>
    </div>
    <div class="main-text">
      <h2>
        This app is meant to be used during Halloween night,
        it looks like a game, but its aim is rather to provide
        information to consumers on candy products they might bump into,
        and help kids learning a bit of autonomy.
      </h2>
    </div>

    <div>
      <h2>
        The project is still under development and testing,<br>
        so any feedback is most welcome!
      </h2>
    </div>
    <div>
      <h2>
        And for more guidance you can always go to the rules page!
      </h2>
    </div>
    <div>
      <img src="{{ happyHuntImg }}" alt="happyhunt-img" />
    </div>

    <div class="bottom-container">
      <button class="roundedOrangeButton" (click)="goToMenu()">Let's go !</button>
    </div>
  </div>

</ion-content>