<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Backpack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="backpack-elements-container flexColCentered">
    <div class="bag-illust-container circlesImgBg">
      <div class="bag-img-container">
        <img src="assets/graphicMat/candyBag.png" alt="" />
      </div>

      <div class="total flexColCentered">
        <h2>Total candy : {{ totalCandy }}</h2>
        <h2>Total points : {{ totalPoints }}</h2>
      </div>
    </div>

    <!-- <div class="cornCandy-container">
      <ng-container *ngFor="let i of [].constructor(8)">
        <img src="assets/graphicMat/corn_candy.png" alt="" />
      </ng-container>
    </div> -->

    <!-- TO DO ? : get level (banner) at init --
      <div class="current-level">
          <h2>Current level</h2>
          <h2>{{levelName}}</h2>
      </div> -->
    <div *ngIf="collectedCandy.length > 0;else noCandyYetBlock">
      <div *ngFor="let item of collectedCandy" class="myCollectedCandy">
        <div class="candyItem">
          <div class="candyThumbnail">
            <img src="{{item.image_front_url}}">
          </div>
          <div class="candyName">
            <!-- <h2>{{data.brands_tags[1]}}</h2> -->
            <h1>{{ item.product_name | shortenString:30 }}</h1>
            <button (click)="seeCandyInfos(item._id)">see infos</button>
          </div>
          <div class="amount">
            <h1>{{ item.amountInBackpack }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noCandyYetBlock>
    <div class="noCandyYet">
      <!-- <h1>No candy yet !</h1> -->
      <img [src]="ghostBubble" alt="no candy bubble" />
      <img [src]="ghostImg" alt="little ghost" />
    </div>
  </ng-template>


</ion-content>