@import "src/theme/variables.scss";

.backpack-elements-container {

    margin: 5% 10%;

    .bag-illust {
        width: 100%;
        // position: sticky; => not working : to check
        display: flex;
        flex-flow: row nowrap;
        img {
            width: 40%;
        }
    }
    .total {
        align-items: flex-start;
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-family: $titanOne;
        }
        h2:first-child {
            color: $main-orange;
        }
        h2:nth-child(2) {
            color: $main-pink;
        }
    }

    .myCollectedCandy {
        width: 100%;

        .candyItem {
            padding: 3%;
            margin: 3%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 2px solid #b1c9fb;
            border-radius: 50px;

            .candyThumbnail {
                height: 3rem;
                width: 3rem;
                min-width: 3rem;
                background-color: pink;
                align-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 50%;
            }
            .candyName {
                max-width: 60%;
                // height: 2rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                h1 {
                    font-family: $titanOne;
                    color:$main-blue;
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    transform: scale(1, 1.2);
                    -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
                    -moz-transform: scale(1, 1.2); /* Firefox */
                    -ms-transform: scale(1, 1.2); /* IE 9+ */
                    -o-transform: scale(1, 1.2); /* Opera */
                }
                button {
                    color: $main-orange;
                    border: 1px solid $main-orange;
                    font-family: $titanOne;
                    background-color: transparent;
                }
            }
            .amount > h1 {
                width: 50px;
                height: 1.5rem;
                font-family: $titanOne;
                color: $sub-pink;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
}
