.backpackPage-container {


    .backpack-elements-container {
        width: 80%;
        margin: 5% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bag-illust {
            width: 100%;
            text-align: center;
            background-image: url("src/assets/graphicMat/circles.png");
            background-repeat: no-repeat;
            // background-size: cover;
            background-position: top;
            background-attachment: fixed;
            img {
                width: 45%;
                margin: auto;
                position: sticky;
                height: 25vh;
            }
        }
        .cornCandy-container {
            width: 100%;
            padding: 3%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img {
                width: 15%;
            }
        }
        .totalcandy,
        .totalpoints {
            position: sticky;
            width: 80%;
            height: 6rem;
            padding: 2%;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            h2 {
                text-align: center;
                text-transform: uppercase;
            }
        }
        .totalcandy h2 {
            font-size: 2.7rem;
            font-family: "Titan One", cursive;
            color: orange;
        }
        .totalpoints h2 {
            font-size: 2.7rem;
            font-family: "PTSans-Regular";
            color: pink;
        }
        .current-level h2 {
            font-size: 2.7rem;
            font-family: "PTSans-Regular";
            color: pink;
        }

        .myCollectedCandy {
            width: 100%;

            .candyItem {
                padding: 3%;
                margin: 3%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border: 2px solid #b1c9fb;
                border-radius: 50px;

                .candyThumbnail {
                    height: 6rem;
                    width: 6rem;
                    background-color: pink;
                    align-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 50%;
                }
                .candyName {
                    max-width: 60%;
                    // height: 2rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    h1 {
                        font-family: "Titan One", cursive;
                        color: #b1c9fb;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        transform: scale(1, 1.2);
                        -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
                        -moz-transform: scale(1, 1.2); /* Firefox */
                        -ms-transform: scale(1, 1.2); /* IE 9+ */
                        -o-transform: scale(1, 1.2); /* Opera */
                    }
                    button {
                        color: orange;
                        border: 1px solid orange;
                        font-family: "Titan One", cursive;
                        background-color: transparent;
                    }
                }
                .amount > h1 {
                    width: 50px;
                    height: 50px;
                    font-family: "Titan One", cursive;
                    color: rgb(251, 177, 241);
                    font-size: 2.8rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}
