/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import "src/theme/variables.scss";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
/* @import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css"; */
// =============================================================

// 'left-to-righ' -'right-to-left'- 'multi' --------------------
$app-direction: ltr;

// @import "ionic.globals";


/* Set variables for all MODES --------------------------------- */
:root {

    --ion-background-color: transparent;
    --ion-font-family: "flyingleather", "Helvetica Neue", "Roboto", sans-serif;

    ion-header {  
        box-shadow: -1px 27px 35px 5px rgba(0,0,0,0.82);
        -webkit-box-shadow: -1px 27px 35px 5px rgba(0,0,0,0.82);
        -moz-box-shadow: -1px 27px 35px 5px rgba(0,0,0,0.82);}
        
    .toolbarTitle { color: orange; font-size: 1.5rem; text-align: center;}

    .ion-page {
        background-image: url(assets/graphicMat/gradient_bats_1920.png);
        background-size: cover;
        background-position: center;}
    
    // breakpoints
    @media (min-width: 568px) { 

        ion-content {
            width: 70%;
            align-self: center;
        }
    }

    @media (min-width:1024px) { 

        ion-content {
            width: 50%;
            align-self: center;
        }
    }


.flexColCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.flexRowCentered {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.roundedOrangeButton {
    border: 2px solid $main-orange;
    background-color: transparent;
    border-radius: 50px;
    font-family: $titanOne;
    color: $main-orange;
}

.circlesImgBg {
    background-image: url("src/assets/graphicMat/circles.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}





}

