/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import "src/theme/variables.scss";
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
/* @import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css"; */

    // FONTS  -------------------------------------------------------
    $font-path: "../assets/fonts";

    @font-face {
        font-family: flyingleather;
        src: url("assets/fonts/flyingleather.ttf") format('truetype');}
    $flyingleather: flyingleather;

    @font-face {
        font-family: TitanOne;
        src: url("assets/fonts/TitanOne-Regular.ttf") format('truetype');}
    $titanOne: TitanOne;


    // FONT SIZES
    $xxs-fontSize: 1.5rem;
    $xs-fontSize: 1.8rem;
    $s-fontSize: 2rem;
    $m-fontSize: 2.7rem;
    $l-fontSize: 3rem;
    $xl-fontSize: 5rem;
    $xxl-fontSize: 7rem;



// 'left-to-righ' -'right-to-left'- 'multi' --------------------
$app-direction: ltr;

// @import "ionic.globals";


/* Set variables for all MODES --------------------------------- */
:root {

    --ion-background-color: transparent;
    --ion-font-family: "flyingleather", "Helvetica Neue", "Roboto", sans-serif;

    ion-header {  
        box-shadow: -1px 27px 35px 5px rgba(0,0,0,0.82);
        -webkit-box-shadow: -1px 27px 35px 5px rgba(0,0,0,0.82);
        -moz-box-shadow: -1px 27px 35px 5px rgba(0,0,0,0.82);}
        
    .toolbarTitle { color: orange; font-size: 3rem;}

    .ion-page {
        background-image: url(assets/graphicMat/gradient_bats_1920.png);
        background-size: cover;
        background-position: center;}
    
    // breakpoints
    @media (min-width: 576px) { 

        ion-content {
            width: 70%;
            align-self: center;
        }
    }

    @media (min-width:1024px) { 

        ion-content {
            width: 50%;
            align-self: center;
        }
    }








}

