<ion-header>
  <ion-toolbar color="customColor">
    <ion-title text-center class="toolbarTitle">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-container circlesImgBg">
    <div><img src="assets/graphicMat/menu_rules.png" alt="menu-rules" (click)="goToRules()" /></div>
    <!--   <div></div> -->
    <div><img src="assets/graphicMat/menu_play.png" alt="menu-play" (click)="start()" /></div>
    <div><img src="assets/graphicMat/menu_login.png" alt="menu-login" (click)="goToLogin()" /></div>
    <!--     <div></div> -->
    <div><img src="assets/graphicMat/menu_about.png" alt="menu-about" (click)="goToAbout()" /></div>
    <div><img src="assets/graphicMat/menu_legal.png" alt="menu-legal" (click)="goToLegal()" /></div>

  </div>
</ion-content>

