// @import "assets/fonts/flyingleather.ttf";

// bat background
.homepage-container {
    background-image: url("src/assets/graphicMat/gradient_bats_1920.png"), url("src/assets/graphicMat/circles.png");
    background-size: cover, contain;
    background-position: center;
    height: 100vh;
    width: 100%;

    .menu-container {
        background-image: url("src/assets/graphicMat/circles.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        .row {
            /* width: 80% !important; */
            text-align: center !important;
            margin: auto !important;
        }
        .col {
            height: 15vh !important;
        }
        img:active {
            box-shadow: 0 9px rgb(255, 193, 79);
        }
    }
}

// override ionic cards specs
.card-md {
    width: calc(40% - 20px) !important;
}
