@import "src/theme/variables.scss";

.menu-container {
    margin-top: 4vh;
    div {
        width: 120px;
        /* border: 2px solid pink; */
        img:active {
            border: 3px solid $main-orange;
        }
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


