@import "src/theme/variables.scss";

.menu-container {
    margin: 4vh auto;
    flex-wrap: wrap;
    width: 90%;

    .menu-image-container-sm {
        width: 5rem;
    }
    .menu-image-container-l {
        width: 8rem;
    }
    .menu-image-container-sm,
    .menu-image-container-l {
        img {
            max-width: 100%;
            &:active {
                border: 3px solid $main-orange;
            }
        }
    }
}
